<div class="container">
    <div class="btnAjout">
        <a routerLink="/add">
            <button mat-flat-button color="accent">Ajouter Assignment</button>
        </a>
    </div>

    <h2>{{ titre }}</h2>

    <cdk-virtual-scroll-viewport itemSize="50" class="scroll-box" #scroller>
        <div class="assignment-list">
            <div *cdkVirtualFor="let a of assignments">
                <app-assigment-card [assignment]="a"></app-assigment-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>

</div>
