.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 40vw;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
}

.full-width{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.error-message{
    margin-bottom: 2vh;
}