html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: left;
}

.m-small-right {
    margin-right: 8px;
}

.m-xx-large-left {
    margin-left: 60px;
}
